body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
}
.main-container {
  width: 320px;
  height: 520px;
  background-color: #eaedef;
  margin: 0 auto;
  top: 100px;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#result {
  height: 120px;
}
#keys {
  height: 400px;
}
#history {
  text-align: right;
  height: 20px;
  margin: 0 20px;
  padding-top: 20px;
  font-size: 15px;
  color: #919191;
}
#output {
  text-align: right;
  height: 400px;
  margin: 10px 20px;
  font-size: 30px;
}
#output-value {
  height: 400px;
  overflow-x: hidden;
}
.operator,
.key-buttons {
  width: 50px;
  height: 50px;
  margin: 15px;
  float: left;
  border-radius: 50%;
  border-width: 0;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
}
.operator {
  background-color: #919191;
}
.zero {
  border-radius: 5%;
  width: 210px;
}
.operator:active,
.key-buttons:active {
  font-size: 13px;
}
.operator:focus,
.key-buttons:focus {
  outline: 0;
}
button:nth-child(1) {
  font-size: 20px;
  /* background-color: #b27320; */
}
button:nth-child(2) {
  font-size: 20px;
  background-color: #ac7bff;
}
button:nth-child(3) {
  font-size: 25px;
  background-color: #ff8e8e;
}
button:nth-child(4) {
  font-size: 25px;
  background-color: #20b2aa;
}
button:nth-child(8) {
  font-size: 25px;
  background-color: #ffa500;
}
button:nth-child(12) {
  font-size: 25px;
  background-color: #85f080;
}
button:nth-child(16) {
  font-size: 25px;
  background-color: #7d93e0;
}
button:nth-child(19) {
  font-size: 25px;
  background-color: #9477af;
}
